@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
   
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face { font-family: 'TmonMonsori'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

@font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }

/* Base */
html {
   overflow-x: hidden;
}

body {
   line-height: 1.7;
   font-weight: 400;
   font-size: 1rem;
   color: #333;
   font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji",'Noto Sans KR', sans-serif, 'Nanum Gothic', serif;

}

::-moz-selection {
   background: #000;
   color: #fff;
}

::selection {
   background: #000;
   color: #fff;
}
.site-navbar h1 {
   font-family: 'Oswald', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'RIDIBatang';
}


a {
   -webkit-transition: .3s all ease;
   -o-transition: .3s all ease;
   transition: .3s all ease;
}

a:hover {
   text-decoration: none;
}

.text-black {
   color: #000 !important;
}

.bg-black {
   background: #000 !important;
}

.bg-dark {
   background: #13171d !important;
}

.line-height-sm {
   line-height: 1.3;
}

.line-height-xs {
   line-height: 1;
}

.site-wrap:before {
   -webkit-transition: .3s all ease-in-out;
   -o-transition: .3s all ease-in-out;
   transition: .3s all ease-in-out;
   background: rgba(0, 0, 0, 0.6);
   content: "";
   position: absolute;
   z-index: 2000;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
   visibility: hidden;
}

.offcanvas-menu .site-wrap {
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: 2;
   overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
   opacity: 1;
   visibility: visible;
}

.btn {
   
   font-family: 'Nanum Gothic', serif bold!important;
   position: relative;
   top: 0;
   border-radius: 10px;
   background-color:rgba(22,45,78,0.95);
   border-color: rgba(22,45,78,1);
   
}

.btn:hover, .btn:active, .btn:focus {
   outline: none;
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
   background-color:rgba(22,45,78,1);
   border-color: rgba(22,45,78,1);
}

.btn.btn-secondary {
   background-color:rgba(22,45,78,1);
   border-color: none;
   color: #000;
}

.btn.btn-sm {
   font-size: 0.9rem;
}

.btn.btn-primary {
   color: #fff;
}

.btn.btn-primary:active, .btn.btn-primary:focus {
   color: #fff;
}

.btn.btn-outline-primary:hover {
   color: #fff !important;
}

.btn.btn-black {
   background: #000 !important;
   color: #fff;
}

.btn.btn-black:hover {
   background: #333333 !important;
}

.btn.btn-white.btn-outline-white {
   border-color: #fff;
   background: transparent;
   color: #fff;
}

.btn.btn-white.btn-outline-white:hover {
   background: #fff;
   color: #000;
}

.bg-black {
   background: #000;
}

.form-control {
   height: 47px;
}

.form-control:active, .form-control:focus {
   border-color: rgba(27, 57, 99, 0.95);;
   color: #000;
}

.form-control:hover, .form-control:active, .form-control:focus {
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
}

.roomList-container{
   background-color: rgba(244,244,244,0.8);
}

.site-section {
}

@media ( min-width : 768px) {
   .site-section {
      padding: 7em 0;
   }
}

.site-section.site-section-sm {
   padding: 4em 0;
}

.bg-text-line {
   display: inline;
   background: #000;
   -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
   box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.bg-image {
   background-size: cover;
   background-repeat: no-rpeeat;
   overflow: hidden;
   background-position: center center;
}

.bg-image.center {
   background-position: top center;
}

.bg-image.fixed {
   background-position: fixed !important;
}

.bg-image.overlay, .bg-image.overlay-primary, .bg-image.overlay-info,
   .bg-image.overlay-success, .bg-image.overlay-warning {
   position: relative;
}

.bg-image.overlay:before, .bg-image.overlay-primary:before, .bg-image.overlay-info:before,
   .bg-image.overlay-success:before, .bg-image.overlay-warning:before {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
}

.bg-image.overlay:before {
   background: rgba(0, 0, 0, 0.4);
}

.bg-image.overlay-primary:before {
   background: rgba(227, 196, 168, 0.9);
}

.bg-image.overlay-info:before {
   background: rgba(83, 205, 226, 0.9);
}

.bg-image.overlay-success:before {
   background: rgba(124, 189, 30, 0.9);
}

.bg-image.overlay-success:before {
   background: rgba(238, 198, 10, 0.9);
}

@media ( max-width : 767.98px) {
   .display-3, .display-2, .display-4 {
      font-size: 2rem !important;
   }
}

@media ( max-width : 991.98px) {
   .bg-md-height {
      height: 300px;
   }
}

@media ( max-width : 767.98px) {
   .bg-sm-height {
      height: 300px;
   }
}

.text-gray-100 {
   color: #f8f9fa !important;
}

.text-gray-200 {
   color: #e9ecef !important;
}

.text-gray-300 {
   color: #dee2e6 !important;
}

.text-gray-400 {
   color: #ced4da !important;
}

.text-gray-500 {
   color: #adb5bd !important;
}

.text-gray-600 {
   color: #6c757d !important;
}

.text-gray-700 {
   color: #495057 !important;
}

.text-gray-800 {
   color: #343a40 !important;
}

.text-gray-900 {
   color: #212529 !important;
}

.row-wrap {
   margin-left: 15px;
   margin-right: 15px;
}

.overflow-hidden {
   overflow: hidden;
}

.row-items {
   height: calc(50% - 15px);
   margin-bottom: 15px;
}

.row-items.last {
   margin-bottom: 0;
}

@media ( max-width : 991.98px) {
   .responsive-md-height {
      height: 500px !important;
      margin-bottom: 15px;
   }
}

.site-footer {
   background-color: rgba(27, 57, 99, 0.95);
   color:white;
   height:300px;
   
}

@media ( min-width : 768px) {
   .site-footer {
      
   }
}

.site-footer p {
   color: #737373;
}

.site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
   color: #fff;
}

.site-footer a {
   color: #999;
}

.site-footer a:hover {
   color: white;
}

.site-footer ul li {
   margin-bottom: 10px;
}

.site-footer .footer-heading {
   font-size: 1.3rem;
   text-transform: uppercase;
   letter-spacing: .1em;
   color: #000;
   position: relative;
   padding-bottom: 15px;
}

.site-footer .footer-heading:before {
   content: "";
   background: rgba(27, 57, 99, 0.95);;
   width: 40px;
   height: 2px;
   position: absolute;
   bottom: 0;
}

/* Navbar */

/*

.navigation-wrap{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1000;
   -webkit-transition : all 0.3s ease-out;
   transition : all 0.3s ease-out;
}

*/
.site-navbar {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1000;
}

.site-navbar-top .site-logo {
   font-size: 2rem;
}

.site-navbar-wrap {
   position: relative;
   z-index: 1;
   width: 100%;
}

.site-navbar-wrap a {
   color: #000;
}

.site-navbar-wrap .site-navbar-top {
   font-size: 0.8rem;
}

.site-navbar {
   margin-bottom: 0px;
   width: 100%;
   border-bottom: none;
   position: fixed;
   top: 0;
   z-index: 99;
}

/* �߰��� class �Ӽ�*/
.start-header {
   opacity: 1;
   transform: translateY(0);
   padding: 10px 0;
   box-shadow: 0 10px 30px 0 rgba(27, 57, 99, 0.30);
   -webkit-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}

.start-header.scroll-on {
   padding-top: 0;
   background-color: rgba(27, 57, 99, 0.95);
   height: 80px;
   -webkit-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}
/* �߰� ��  */
.site-navbar .site-logo {
   font-weight: 200;
}

.site-navbar .site-logo a {
   font-weight: 200;
   color: #000;
}

.site-navbar .site-navigation .site-menu {
   margin-bottom: 0;
   margin-left: 0;
   padding-left: 0;
}

.site-navbar .site-navigation .site-menu .active>a {
   color: #fff;
}

.site-navbar .site-navigation .site-menu a  .site-menu button{
   text-decoration: none !important;
   display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
   display: inline-block;
   padding: 10px 5px;
}

.site-navbar .site-navigation .site-menu>li>a{
   padding: 10px 10px;
   letter-spacing: .05em;
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
   color: #fff;
}

.site-navbar .site-navigation .site-menu>li:last-child {
   padding-right: 0;
}

.site-navbar .site-navigation .site-menu>li:last-child>a {
   padding-right: 0;
}

.site-navbar .site-navigation .site-menu .has-children {
   position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a {
   position: relative;
   padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children>a:before {
   position: absolute;
   content: "\e313";
   font-size: 16px;
   top: 50%;
   right: 0;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
   visibility: hidden;
   opacity: 0;
   top: 100%;
   position: absolute;
   text-align: left;
   -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
   box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
   border-left: 1px solid #edf0f5;
   border-right: 1px solid #edf0f5;
   border-bottom: 1px solid #edf0f5;
   padding: 10px 0;
   margin-top: 20px;
   margin-left: 0px;
   background: #fff;
   -webkit-transition: 0.2s 0s;
   -o-transition: 0.2s 0s;
   transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top
   {
   position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before
   {
   bottom: 100%;
   left: 20%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before
   {
   border-color: rgba(136, 183, 213, 0);
   border-bottom-color: #fff;
   border-width: 10px;
   margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
   text-transform: none;
   letter-spacing: normal;
   -webkit-transition: 0s all;
   -o-transition: 0s all;
   transition: 0s all;
   color: #343a40;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a
   {
   color: #000 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
   list-style: none;
   padding: 0;
   margin: 0;
   min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
   padding: 5px 20px;
   display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover
   {
   color: rgba(27, 57, 99, 0.95);;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before
   {
   content: "\e315";
   right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
   .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul
   {
   left: 100%;
   top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
   .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
   .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a
   {
   color: rgba(27, 57, 99, 0.95);;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
   .site-navbar .site-navigation .site-menu .has-children:focus>a,
   .site-navbar .site-navigation .site-menu .has-children:active>a {
   color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
   .site-navbar .site-navigation .site-menu .has-children:focus,
   .site-navbar .site-navigation .site-menu .has-children:active {
   cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
   .site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
   .site-navbar .site-navigation .site-menu .has-children:active>.dropdown
   {
   -webkit-transition-delay: 0s;
   -o-transition-delay: 0s;
   transition-delay: 0s;
   margin-top: 0px;
   visibility: visible;
   opacity: 1;
}

.site-mobile-menu {
   width: 300px;
   position: fixed;
   right: 0;
   z-index: 2000;
   padding-top: 20px;
   background: #fff;
   height: calc(100vh);
   -webkit-transform: translateX(110%);
   -ms-transform: translateX(110%);
   transform: translateX(110%);
   -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
   box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
   -webkit-transition: .3s all ease-in-out;
   -o-transition: .3s all ease-in-out;
   transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
   -webkit-transform: translateX(0%);
   -ms-transform: translateX(0%);
   transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
   width: 100%;
   float: left;
   padding-left: 20px;
   padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
   float: right;
   margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span
   {
   font-size: 30px;
   display: inline-block;
   padding-left: 10px;
   padding-right: 0px;
   line-height: 1;
   cursor: pointer;
   -webkit-transition: .3s all ease;
   -o-transition: .3s all ease;
   transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover
   {
   color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
   float: left;
   margin-top: 10px;
   margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
   display: inline-block;
   text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img
   {
   max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover
   {
   text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
   overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
   position: relative;
   padding: 20px;
   height: calc(100vh - 52px);
   padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
   padding: 0;
   margin: 0;
   list-style: none;
   position: relative;
}

.site-mobile-menu .site-nav-wrap a {
   padding: 10px 20px;
   display: block;
   position: relative;
   color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
   color: rgba(27, 57, 99, 0.95);
}

.site-mobile-menu .site-nav-wrap li {
   position: relative;
   display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
   color: rgba(27, 57, 99, 0.95);;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
   position: absolute;
   right: 0px;
   top: 10px;
   z-index: 20;
   width: 36px;
   height: 36px;
   text-align: center;
   cursor: pointer;
   border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
   background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
   font-size: 12px;
   z-index: 20;
   font-family: "icomoon";
   content: "\f078";
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%) rotate(-180deg);
   -ms-transform: translate(-50%, -50%) rotate(-180deg);
   transform: translate(-50%, -50%) rotate(-180deg);
   -webkit-transition: .3s all ease;
   -o-transition: .3s all ease;
   transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
   display: block;
   position: relative;
   float: left;
   width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
   padding-left: 20px;
   font-size: 20px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
   padding: 0;
   margin: 0;
   list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
   display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
   padding-left: 40px;
   font-size: 16px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
   padding: 0;
   margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
   display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
   font-size: 16px;
   padding-left: 60px;
}

/* Blocks */
.site-blocks-cover {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top;
}

.site-blocks-cover.overlay {
   position: relative;
}

.site-blocks-cover.overlay:before {
   position: absolute;
   content: "";
   left: 0;
   bottom: 0;
   right: 0;
   top: 0;
   background: rgba(0, 0, 0, 0.4);
}

.site-blocks-cover, .site-blocks-cover .row {
   min-height: 600px;
   height: calc(100vh);
}

.site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover .row
   {
   min-height: 600px;
   height: calc(30vh);
}

.site-blocks-cover .sub-text {
   font-size: 1.1rem;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.7);
   letter-spacing: .2em;
}

.site-blocks-cover h1 {
   font-weight: 900;
   color: #fff;
   font-size: 4rem;
   font-weight: normal;
   letter-spacing: .1em;
   text-transform: uppercase;
}

.site-blocks-cover p {
   color: #fff;
   font-size: 1.5rem;
   line-height: 1.5;
}

.site-blocks-cover .intro-text {
   font-size: 16px;
   line-height: 1.5;
}

.site-blocks-cover.subscribe h2 {
   font-size: 20px;
   letter-spacing: .1em;
   text-transform: uppercase;
   font-weight: 300;
   color: #fff;
}

.site-blocks-cover.subscribe p {
   font-size: 1rem !important;
   font-weight: 100;
}

.block-16 figure {
   position: relative;
}

.block-16 figure .play-button {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   font-size: 20px;
   width: 70px;
   height: 70px;
   background: #fff;
   display: block;
   border-radius: 50%;
   opacity: 1;
   color: rgba(27, 57, 99, 0.95);
   !
   important;
}

.block-16 figure .play-button:hover {
   opacity: 1;
}

.block-16 figure .play-button>span {
   position: absolute;
   left: 55%;
   top: 50%;
   -webkit-transform: translate(-60%, -50%);
   -ms-transform: translate(-60%, -50%);
   transform: translate(-60%, -50%);
}

#date-countdown .countdown-block {
   color: rgba(255, 255, 255, 0.4);
}

#date-countdown .label {
   font-size: 40px;
   color: #fff;
}

.next-match .image {
   width: 50px;
   border-radius: 50%;
}

.site-block-check {
   padding: 0;
   margin: 0 0 30px 0;
}

.site-block-check li {
   padding: 0;
   margin: 0;
}

.site-block-check li {
   display: block;
   padding-left: 30px;
   position: relative;
   margin-bottom: 10px;
}

.site-block-check li:before {
   position: absolute;
   color: #7cbd1e;
   left: 0;
   top: -.3rem;
   font-family: 'icomoon';
   font-size: 1.1rem;
   content: "\e5ca";
}


.site-navbar-top .block-unit .icon {
   line-height: 0;
}

@media ( max-width : 991.98px) {
   .site-navbar-top .block-unit .icon span {
      font-size: 20px !important;
   }
}

.site-navbar-top .block-unit .muted {
   color: #e9ecef;
}

.popular-domain-extension .border-right {
   border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
}
/* index - 젤 메인 화면 */
.mainContainer h1 {
   font-family: 'RIDIBatang';
}
.mainContainer p{
   font-family: 'RIDIBatang';
}

/* index - 3가지 종류로 구분 - roomDivisionContainer */


.roomDivisionContainer h2 {
   font-family: 'RIDIBatang';
   font-weight:bolder;
   letter-spacing: .1em;
   line-height:150%;
}
.roomDivisionContainer p {
   font-family: 'RIDIBatang';
   letter-spacing: .1em;
}
.hoverCont{
   width:300px;
   height: 300px;
   background-color: red;
}
/* index - roomList-container (메인에서 룸리스트 띄우는 컨테이너) */
.site-section-heading h2 {
   font-size: 2rem;
   letter-spacing: .2em;
   text-transform: uppercase;
}
h2.MainRoomList{
   font-family: 'TmonMonsori';
   line-height:150%;
}
.site-section-heading h2 span  {
   letter-spacing: .1em;
}
.site-section-heading.w-border h2 {
   position: relative;
   padding-bottom: 25px;
   display: inline-block;
}

/* 밑줄 */
.site-section-heading.w-border h2:after {
   position: absolute;
   content: "";
   width: 250px;
   left: 0;
   bottom: 0px;
   height: 3.5px;
   background: rgba(27, 57, 99, 0.95);
   border-radius:50px;
}
/* 작은 멘트 */
.roomList-container p {
   font-family: 'RIDIBatang';
}

.site-section-heading.w-border.text-center h2:after {
   left: 50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}

/* index - 추천룸리스트 - unit9 */
.padded-multi-line-primary, .unit-9 h2 {
   display: inline;
   background: rgba(27, 57, 99, 0.95);
   -webkit-box-shadow: 10px 0 0 rgba(27, 57, 99, 0.95); , 0 px 0 0
   rgba(27, 57, 99, 0.95);;
   box-shadow: 10px 0 0 rgba(27, 57, 99, 0.95);
   ,
   0
   px
   0
   0
   rgba(27,
   57,
   99,
   0.95);;
}

.padded-multi-line-black, .unit-9 span {
   display: inline;
   background: #000;
   -webkit-box-shadow: 10px 0 0 #000, 0px 0 0 #000;
   box-shadow: 10px 0 0 #000, 0px 0 0 #000;
}

.unit-9 {
   background-size: cover;
   background-position: center center;
   background-repeat: none;
   height: 300px;
   position: relative;
   display: block;
   overflow: hidden;
}

.unit-9 .image {
   background-size: cover;
   background-position: center center;
   -webkit-transition: .3s all ease-in-out;
   -o-transition: .3s all ease-in-out;
   transition: .3s all ease-in-out;
   height: 300px;
   -webkit-transition: .3s all ease;
   -o-transition: .3s all ease;
   transition: .3s all ease;
   -webkit-transform: scale(1.05);
   -ms-transform: scale(1.05);
   transform: scale(1.05);
}

.unit-9.no-height {
   height: auto;
}

.unit-9.no-height .image {
   height: auto;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.unit-9 .unit-9-content {
   -webkit-transition: .3s all ease-in-out;
   -o-transition: .3s all ease-in-out;
   transition: .3s all ease-in-out;
   position: absolute;
   bottom: 0;
}

.unit-9 h2 {
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   color: #fff;
   font-size: 20px;
   margin-bottom: 0;
}

.unit-9 span {
   background: #000;
   display: block;
   color: #fff;
   padding-left: 10px;
   padding-top: 4px;
   padding-bottom: 4px;
   font-size: 11px;
   letter-spacing: .15em;
   text-transform: uppercase;
}

.unit-9:hover .image {
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
}



.backgroundimg, .site-block-retro .col1, .site-block-retro .col2>a {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   position: relative;
}

.site-block-retro .col1, .site-block-retro .col2 {
   width: 48%;
}

@media ( max-width : 767.98px) {
   .site-block-retro .col1, .site-block-retro .col2 {
      width: 100%;
   }
}

@media ( max-width : 767.98px) {
   .site-block-retro .col1 {
      height: 300px;
      margin-bottom: 8%;
   }
}

.site-block-retro .col2>a {
   display: block;
   height: 300px;
}

.site-block-retro .col2>a:first-child {
   margin-bottom: 8%;
}

.pill {
   border-radius: 30px;
}


.social-icon span {
   font-size: 20px;
}

.social-icon:hover {
   color: #eec60a !important;
   background: #ddb795;
}

.podcast-entry {
   -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
   box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
}

.podcast-entry .sep {
   margin-left: 5px;
   margin-right: 5px;
   color: #ccc;
}

.podcast-entry .image {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   height: 300px;
}

@media ( min-width : 768px) {
   .podcast-entry .image {
      width: 300px;
      height: auto;
   }
}

.podcast-entry .text {
   width: 100%;
   padding: 40px;
}

@media ( min-width : 768px) {
   .podcast-entry .text {
      width: calc(100% - 300px);
   }
}

.mejs__container {
   width: 100% !important;
}

form .form-control {
   background: none;
}

form .form-control:active, form .form-control:focus {
   background: none;
}

figure img {
   margin-bottom: 10px;
}

figure figcaption {
   font-size: .8rem;
   font-style: italic;
}
