<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.itwspace.mapper.SpaceMapper">

<select id="list" resultType="com.itwspace.model.SpaceVO">
        select space_id, space_title, space_kind, space_6Hprice, space_AllPrice, space_address, space_content, space_account, space_regDate from space
</select>

<!-- hostPage 페이징 및 검색 쿼리 -->
<sql id="mySearchCondition">
	<if test="cri.searchType != null">
		<if test="cri.searchType == 'title'.toString()">
			and space_title like concat('%', #{cri.keyword}, '%')
		</if>
		<if test="cri.searchType == 'type'.toString()">
			and space_kind like concat('%', #{cri.keyword}, '%')
		</if>
		<if test="cri.searchType == 'address'.toString()">
			and space_address like concat('%', #{cri.keyword}, '%')
		</if>
		<if test="cri.searchType == 'all'.toString()">
			and (space_title like concat('%', #{cri.keyword}, '%')
				or space_kind like concat('%', #{cri.keyword}, '%')
				or space_address like concat('%', #{cri.keyword}, '%'))
		</if>
	</if>
</sql>

<select id="myList" parameterType="map" resultType="com.itwspace.model.SpaceVO">
		select space_id, userId, space_title, space_kind, space_6Hprice, space_AllPrice, space_address, space_content, space_account 
		from space
		where userId = #{userId}
		<include refid="mySearchCondition"></include>
		order by space_id desc
		limit #{cri.pageStart}, #{cri.perPageNum}
</select>

<select id="getMyTotalCount" resultType="int">
      	select count(space_id) from space
      	where userId = #{userId}
		<include refid="mySearchCondition"></include>
      
</select>

<!-- End - hostPage 페이징 및 검색 쿼리 -->

<!-- listPage 페이징 및 검색 쿼리 -->
<sql id="searchCondition">
	<if test="searchType != null">
		<if test="searchType == 'title'.toString()">
			where space_title like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'type'.toString()">
			where space_kind like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'address'.toString()">
			where space_address like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'all'.toString()">
			where (space_title like concat('%', #{keyword}, '%')
				or space_kind like concat('%', #{keyword}, '%')
				or space_address like concat('%', #{keyword}, '%'))
		</if>
	</if>
</sql>


<select id="listPage" parameterType="map" resultType="com.itwspace.model.SpaceVO">
		select space_id, userId, space_title, space_kind, space_6Hprice, space_AllPrice, space_address, space_content, space_account 
		from space 
		<include refid="searchCondition"></include>
		order by space_id desc
		limit #{pageStart}, #{perPageNum}
</select>

<select id="getTotalCount" resultType="int">
      	select count(space_id) from space
		<include refid="searchCondition"></include>
      
</select>

<!-- End - listPage 페이징 및 검색 쿼리 -->

<insert id="write" parameterType="com.itwspace.model.SpaceVO" useGeneratedKeys="true" keyProperty="space_id">
	 	insert into space(space_id, userId, space_kind, space_title, space_6Hprice, space_AllPrice, space_address, space_content, space_account)
		values(#{space_id}, #{userId}, #{space_kind}, #{space_title}, #{space_6Hprice}, #{space_AllPrice}, #{space_address},
		#{space_content}, #{space_account})
</insert>

<select id="findById" parameterType="int"  resultType="com.itwspace.model.SpaceVO">
		select * from space where space_id = #{space_id}
</select>
	
<select id="view" parameterType="int" resultType="com.itwspace.model.SpaceVO">
		select space_id, userId, space_title, space_kind, space_6Hprice, space_AllPrice, space_address, space_content, space_account, space_regDate from space where space_id=#{space_id}
</select>

<update id="modify" parameterType="com.itwspace.model.SpaceVO">
		update space set space_title=#{space_title}, space_kind=#{space_kind}, space_6Hprice=#{space_6Hprice}, space_AllPrice=#{space_AllPrice}, space_address=#{space_address}, space_content=#{space_content}, space_account=#{space_account} where space_id=#{space_id}
</update>

<delete id="delete" parameterType="int">
		delete from space where space_id=#{space_id}
</delete>

<select id="hostPage" resultType="com.itwspace.model.SpaceVO">
		select space_id, space_title, space_kind, space_6Hprice, space_AllPrice, space_address, space_content, space_account, space_regDate
		from space
		order by space_id desc
		limit #{startPost}, #{countList}
</select>


</mapper>